*{
    margin: 0;
    padding: 0;
    
}
.container{
    display: flex;
    background-color:#247291;
    justify-content:center;
    height: 50px;
    font-size:20px;
    color: white;

}
.container>div{
    margin: 10px;
    
    
}
.heading{
    font-size: 3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 25px;
    text-align: center;

}
.firstphoto{
    margin: 25px;
    height: 350px;
    width: auto;
    border-radius: 25px;
    margin-right: 30px;
    
    
}
.firstcontainer{
    display: inline-flex;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
    max-width: 100%;
   
    
}
.subheading{
    margin-top: 30px;
    font-size: 2em;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.description{
    padding: 20px;
    font-size: 18px;
}
.costcontainer{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    background-color:transparent;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    color: #4f4f4d ;

}
.details{
    margin-left: 20px;
}
.sectionone{
    padding-bottom: 50px;
    background-color: #d0cec3;
}